* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #233250, #145ddb);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in-out;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.dream-form, .dream-entries {
    margin-top: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: fadeInUp 1s ease-out;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.dream-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #2980b9;
}

.dream-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.dream-card {
    background-color: #ffffff33;
    border-radius: 10px;
    padding: 10px;
    width: 45%;
    animation: slideIn 0.5s ease;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(-10px); }
    to { opacity: 1; transform: translateX(0); }
}
