* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #233250, #145ddb);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
    text-align: center;
}

.container {
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.2rem;
    animation: fadeInUp 1s ease-out;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in-out;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
    font-weight: 800;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease-out;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

hr {
    border: none;
    border-top: 2px solid #fff;
    margin: 20px 0;
    animation: slideIn 1s ease-in-out;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.dream-form, .dream-entries {
    margin-top: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: fadeInUp 1s ease-out;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.dream-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    text-align: left;
    font-weight: 600;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: #00aeff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    transition: 100ms;
}

button:hover {
    background-color: #2880bb;
    transform: scale(1.01);
    transition: 100ms;
}

.dream-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.dream-card {
    background-color: #ffffff33;
    border-radius: 10px;
    padding: 10px;
    width: 45%;
    animation: slideIn 0.5s ease;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(-10px); }
    to { opacity: 1; transform: translateX(0); }
}

select {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ffffff33;
    color: #fff;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

option {
    background-color: #ffffff33;
    color: #000000;
}

textarea {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ffffff33;
    color: #fff;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    resize: none;
    width: 100%;
    height: 100px;
}

::placeholder {
    color: #1f1e1e71;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ffffff33;
    color: #fff;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
}

@media (max-width: 720px) {
    .container {
        width: 80%;
    }
}